:root{
  --linearImages: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(228, 0, 228, 0.2)
    );
}

.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100vw;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .navbar-img{
      width: 150px;
  }
  
  /* .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  } */
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* grid-gap: 10px; */
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: space-around;
    /* margin-right: 2rem; */
    padding-left: 30vw;
    /* background: aqua; */
  }
  
  .navbar-item {
    height: 45px;
  }
  
  .navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem .7rem;
    height: 100%;
    font-size: 15px;
  }
  
  .navbar-links:hover {
    border-bottom: 4px solid var(--secondary);
    transition: all 0.2s ease-out;
  }
  
  .fa-hamburger, .fa-times {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .navbar-links-mobile {
    display: none;
  }
  
  .navbar-menu{
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      left: -100%;
      height: 88vh;
      position: absolute;
      top: 44px;
      opacity: 0;
      transition: all 0.5s ease;
      padding: 0;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .navbar-links {
      text-align: center;
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .navbar-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      /* position: absolute;
      top: 0;
      left: 0; */
      /* transform: translate(25%, 50%); */
    }
    .navbar-img{
        width: 100px;
    }
  
    .navbar-menu{
      display: block;
      position: absolute;
      top: -20px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .navbar-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 50%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .navbar-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }